<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>


<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">

    <!--sidebar start-->
    <div th:insert="fragment :: sidebar"></div>
    <!--sidebar end-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:insert="fragment :: topbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!--                    <img th:src="@{/img/garden-bg.JPG}" class="bg-transparent" alt="garden">-->

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Zobacz, co rośnie w Twoim ogrodzie</h1>
                <a th:href="@{/add-plant}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Nowa roślinka</a>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Twoje rośliny</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Kategoria</th>
                                    <th>Opis</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Kategoria</th>
                                    <th>Opis</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="plant: ${plants}">
                                    <td th:text="${plant.name}"></td>
                                    <td th:text="${plant.category}"></td>
                                    <td th:text="${plant.description}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="fragment :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:insert="fragment :: logout"></div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{js/demo/datatables-demo.js}"></script>

</body>

</html>